﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucNewsHome.ascx.cs" Inherits="MyWeb.views.news.ucNewsHome" %>
<div class="box-news-home">
    <asp:Literal ID="ltrNewsHome" runat="server"></asp:Literal>
</div>