﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="error404.aspx.cs" Inherits="MyWeb.error404" %>
<!DOCTYPE HTML>
<html>
<head runat="server">
    <title></title>
    <asp:Literal runat="server" ID="ltrMainMeta"></asp:Literal>
    <%--META--%>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <asp:Literal ID="ltrMeta" runat="server"></asp:Literal>
</head>

<body>
    <form id="MyWebForm" runat="server">
    </form>
</body>
</html>
